# Virtual Environment
venv/
env/
.venv/

# Database
*.sqlite3
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
*.env

# System files
.DS_Store

# Static files
staticfiles/
media/

# Node modules
node_modules/

# Build files
dist/
build/
